<!DOCTYPE html>
<html>
<head>
  <title>Palabra</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<form class="query" method="GET" action="<%= search_url %>">
  <input name="query" />
</form>

<%= yield %>

</body>
</html>
